.app {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
}

.container {
  padding: 10px 10px;
  margin-top: 20px;
  height: 70vh;
  border: 1px solid lightgray;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-container {
  flex-grow: 2;
}
