.dialog {
  display: flex;
  flex-direction: column;
}

.dialogBody {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}

.dialogFooter {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
    margin-left: 10px;
  }
}
