@import "~assets/styles/colors";

.app {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sideMenu {
  background: $DarkShade;
  color: $LightShade;

  height: 100vh;
  flex-basis: 160px;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
}

.header {
  flex-basis: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.brand {
  margin-top: 20%;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuElement {
  margin-bottom: 20px;

  a {
    color: $LightShade;

    &:hover {
      color: darken($LightShade, 10%);
      text-decoration: none;
    }
  }
}

.icon {
  margin-right: 15px;
}
