@import "~assets/styles/colors";

.view {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  flex-grow: 1;
  height: 100vh;
  background: $LightShade;
}

.centered {
  justify-content: center;
  align-items: center;
  flex-direction: initial;
  flex-grow: inherit;
}

.header {
  padding: 15px;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  // margin-bottom: 10px;
}

.h1 {
  line-height: 40px;
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 10px;
  padding: 0;
  color: $DarkShade;
}

.body {
  flex-grow: 1;
  padding: 15px;
  padding-top: 5px;
  overflow-x: auto;
}

.bodyCentered {
  flex-grow: 0;
}
